header{
    background-color: pink;
    height: 300px;
}
nav{
    background-color: greenyellow;
    height: 200px;
}
main{
    background-color: skyblue;
    height: 500px;
}
section{
    background-color: yellowgreen;
    height: 300px;
}
footer{
    background-color: darkseagreen;
    height: 200px;
}
